body{

    background-color: lightpink;

}

.bottom-border{

    border: 1px white solid;
    
}



/* DIZAJNIMI I SEKSIONIT INTRO  */

.intro{

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("images/22738.jpg");
    min-height: 1000px;

}

.content{
margin: -175px 0 0 0;
}


/* DIZAJNIMI I H3 TE INTROS*/
.gallery-header h3{
    
    color:white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.button-1div{

    margin-top: 40px;

}

.btn-intro{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E91E63;
    border: 1px solid  #E91E63;
    width: 200px;
    height: 60px;
    color: white;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 4px 10px black;    
    border-radius: 15px;

}

.btn-intro:hover{
    background-color: gray;
}


/* EVENTS */


.packages-events{

    padding: 120px 0 90px;
}

.events-content{
    margin-top:65px;
}

.singel-events-items{
    margin-bottom: 30px;
    padding-bottom: 20px;
}

/* DIZAJNIMI I TEAM */


.team{

    background:black;
    position: relative;
    padding: 120px 0;
}


.carousel-item{
    padding-left:250px;
}

.gallery-header p{
    text-align: center;
    color:white;
}



/* CONTACT US */

.contact-section{

    background-image: url("https://lpjleague.org/wp-content/uploads/2015/01/NEW_SOCIAL_BUTTONS_FINAL.jpg");
    position: relative;

}

/* DIZJNIMI I FORMES NE TOTAL*/

.form-style{
    border: 1px solid black;
    max-width: 450px;
    padding: 30px;
    margin: 50px;
    z-index: -1;


}

/* DIZJANIMI I <li>*/

.form-style ul li {
    display: block;
    margin-bottom:  10px;
    min-height: 35px;

}

.form-style ul li .field-style{
    box-sizing: border-box;
    padding:  8px;
    outline: none;
}

.form-style ul li .field-split{
    width:50%;
}

.form-style ul li .field-full{
    width: 100%;
}

.form-style ul li input.align-left{
    float: left;
}

.form-style ul li input.align-right{
    float: right;
}

.form-style ul li textarea{
    width:100%;
    height: 100px;
}

.form-style ul li input[type="submit"]{
    
    background: #E91E63;
    border: 1px solid #E91E63;
    box-shadow: 0px 2px 8px black;
    display: inline-block;
    color: white;
    border-radius: 8px;
    padding: 8px 18px;
    font-family: 'Montserrat', sans-serif;

}

.form-style ul li input[type="submit"]:hover{

    background: linear-gradient(to bottom, gray 5%, black 100%);
    background-color: gray;
}

/* OVERLAY */

.overlay{
    background: #E91E63;
    opacity: .1;
    position: relative;
opacity: .2;


}

